:root {
  --text-gray-50: #b7b9cc;
  --text-gray-30: #858796;
  --sb-primary-color: #4e73df;
  --sb-border-color: #e3e6f0;
}

body {
  font-family: "Nunito", sans-serif;
}

img,
video,
canvas {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
select,
option,
textarea,
button {
  border: none;
  outline: none;
}

.bg-gradient-primary {
  background-color: rgb(78, 115, 223);
  background-image: linear-gradient(rgb(78, 115, 223) 10%, rgb(59, 101, 224) 100%);
}

.circle {
  border-radius: 50%;
  --circle-dimension: 40px;
  width: var(--circle-dimension);
  height: var(--circle-dimension);
}

.circle-10 {
  --circle-dimension: 10px;
}

.circle-20 {
  --circle-dimension: 20px;
}

.circle-30 {
  --circle-dimension: 30px;
}

.circle-40 {
  --circle-dimension: 40px;
}

.circle-50 {
  --circle-dimension: 50px;
}

.circle-60 {
  --circle-dimension: 60px;
}

.circle-70 {
  --circle-dimension: 70px;
}

.circle-80 {
  --circle-dimension: 80px;
}

.circle-90 {
  --circle-dimension: 90px;
}

.text-gray-50 {
  color: var(--text-gray-50);
}

.text-gray-30 {
  color: var(--text-gray-30);
}

.fs-xsm {
  font-size: 11.2px;
}

.fs-sm {
  font-size: 12.8px;
}

.fs-md {
  font-size: 13.6px;
}

.bg-primary-sb,
.text-bg-primary-sb,
.btn-primary-sb {
  background-color: var(--sb-primary-color);
}

.text-bg-primary-sb {
  color: #fff;
}

.btn-primary-sb, .border-primary-sb {
  border-color: var(--sb-primary-color) !important;
}

.text-primary-sb {
  color: var(--sb-primary-color);
}

.dropdown.grow .dropdown-menu.show {
  animation: grow 0.2s ease-in-out forwards;
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.shadow-sb {
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.12);
}

.card-sb,
.card-sb .card-header {
  border-color: var(--sb-border-color) !important;
}
.card-sb .card-header {
  background-color: #f8f9fc;
}
.card-sb .info {
  color: #858796;
}

.wrapper > .nav {
  width: 224px;
  min-height: 100vh;
}
.wrapper > .nav.closed {
  width: auto;
  text-align: center;
  padding: 0.5rem !important;
}
@media (max-width: 767px) {
  .wrapper > .nav.hidden {
    display: none;
  }
}
.wrapper > .nav .logo i {
  transform: rotate(-20deg);
}
.wrapper > .nav.closed .logo {
  padding: 14px 0;
}
.wrapper > .nav.closed .logo h1 {
  display: none;
}
.wrapper > .nav.closed .logo i {
  margin: 0 !important;
  font-size: 32px;
}
.wrapper > .nav .divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}
.wrapper > .nav li.item a.link {
  color: rgba(255, 255, 255, 0.8);
}
.wrapper > .nav li.item a.link i {
  color: rgba(255, 255, 255, 0.3);
}
.wrapper > .nav li.item a.link:hover, .wrapper > .nav li.item a.link:hover i, .wrapper > .nav li.item a.link.active, .wrapper > .nav li.item a.link.active i {
  color: #fff;
}
.wrapper > .nav li.item a.link.menu-opener::after {
  display: none;
}
.wrapper > .nav li.item a.link.menu-opener i.arrow {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.wrapper > .nav li.item a.link.menu-opener:not(.collapsed) i.arrow {
  transform: rotate(90deg);
}
.wrapper > .nav li.item .nested-menu {
  background-color: white;
  border: none;
  transition: 0.1s;
}
.wrapper > .nav li.item .nested-menu .menu-title {
  font-size: 10.4px;
  color: var(--text-gray-50);
  text-transform: uppercase;
}
.wrapper > .nav li.item .nested-menu .menu-link {
  color: #3a3b45;
}
.wrapper > .nav li.item .nested-menu .menu-link:hover {
  background-color: #eaecf4;
}
.wrapper > .nav.closed li.item {
  position: relative;
}
.wrapper > .nav.closed li.item.menu i.arrow {
  display: none;
}
.wrapper > .nav.closed li.item.menu .nested-menu {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  position: absolute;
  left: calc(100% + 20px) !important;
  top: 0;
  height: auto !important;
  transform: scale(0);
  text-align: start;
  min-width: 174px;
  z-index: 99;
}
.wrapper > .nav.closed li.item.menu .nested-menu.show {
  animation: scale-menu 0.1s ease-out forwards;
}
.wrapper > .nav.closed li.item .link {
  justify-content: center !important;
}
.wrapper > .nav.closed li.item .link span {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.wrapper > .nav.closed li.item .link i {
  margin: 0 !important;
  margin-bottom: 5px !important;
  font-size: 15.6px;
}
.wrapper > .nav.closed li.item .link {
  font-size: 11px;
}
.wrapper > .nav .sub-heading {
  font-size: 10px;
}
.wrapper > .nav .nav-desktop-toggler button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
.wrapper > .nav .nav-desktop-toggler button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.wrapper > .nav .nav-desktop-toggler button i {
  font-size: 14px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
}
.wrapper > .nav.closed .nav-desktop-toggler i {
  transform: rotate(-180deg);
}
.wrapper > .nav .upgrade {
  background-color: rgba(0, 0, 0, 0.1);
}
.wrapper > .nav .upgrade .rocket {
  width: 60px;
}
.wrapper > .nav .upgrade p.text {
  font-size: 12px;
}
.wrapper > .nav .upgrade a.upgrade-btn {
  --bs-btn-bg: #1cc788;
}
.wrapper > .nav .upgrade a.upgrade-btn:hover {
  background-color: #17a673;
}
.wrapper > .nav.closed .upgrade {
  padding: 1rem 0 !important;
  max-width: 80px;
}

@keyframes scale-menu {
  to {
    transform: scale(1);
  }
}
.wrapper {
  max-width: 100vw;
}
.wrapper header {
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.16);
}
.wrapper header .nav-mobile-toggler > button {
  --bs-btn-focus-box-shadow: 0 0 0 0.18rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.3);
}
.wrapper header .nav-mobile-toggler > button:hover {
  background-color: #eaecf4 !important;
}
.wrapper header .nav-mobile-toggler > button:active {
  background-color: #dddfeb !important;
}
@media (min-width: 576px) {
  .wrapper header form {
    max-width: 400px;
  }
}
.wrapper header .dropdown {
  position: static;
  height: 70px;
  display: flex;
  align-items: center;
}
@media (min-width: 576px) {
  .wrapper header .dropdown {
    position: relative;
  }
}
.wrapper header .dropdown .dropdown-menu {
  top: calc(100% + 2px) !important;
  transform: none !important;
  width: calc(100% - 20px);
  left: 10px !important;
}
@media (min-width: 576px) {
  .wrapper header .dropdown .dropdown-menu {
    width: 300px;
    left: auto !important;
  }
}
.wrapper header .dropdown.notification button,
.wrapper header .dropdown.search button {
  color: #d1d3e2;
}
.wrapper header .dropdown.notification button:hover,
.wrapper header .dropdown.search button:hover {
  color: var(--text-gray-50);
}
.wrapper header .dropdown.notification .dropdown-menu,
.wrapper header .dropdown.search .dropdown-menu {
  border-radius: 7px;
  border-color: var(--sb-border-color);
}
.wrapper header .dropdown.notification .dropdown-menu .dropdown-header,
.wrapper header .dropdown.search .dropdown-menu .dropdown-header {
  font-size: 11px;
}
.wrapper header .dropdown.notification .dropdown-menu > a:hover,
.wrapper header .dropdown.search .dropdown-menu > a:hover {
  background-color: #eaecf4;
}
.wrapper header .dropdown.notification .dropdown-menu span.date,
.wrapper header .dropdown.search .dropdown-menu span.date {
  font-size: 12px;
}
.wrapper header .dropdown.notification .dropdown-menu p.title,
.wrapper header .dropdown.search .dropdown-menu p.title {
  font-size: 13.6px;
  color: #3a3b45;
}
.wrapper header .dropdown.notification .dropdown-menu .dropdown-foot,
.wrapper header .dropdown.search .dropdown-menu .dropdown-foot {
  font-size: 12px;
}
.wrapper header .dropdown.notification .dropdown-menu .dropdown-foot:hover,
.wrapper header .dropdown.search .dropdown-menu .dropdown-foot:hover {
  color: var(--text-gray-50);
}
.wrapper header .profile {
  min-width: 42px;
}
.wrapper header .profile .name {
  margin-right: 8px;
}
.wrapper header .profile .avatar {
  width: 30px;
}
.wrapper header .profile .dropdown-menu,
.wrapper header .profile .dropdown-menu .dropdown-divider {
  border-color: #eaecf4;
}
.wrapper header .profile .dropdown-menu a {
  color: #3a3b45;
}
.wrapper header .profile .dropdown-menu i {
  width: 20px;
  color: #d1d3e2;
}

.scroll-top {
  position: fixed;
  bottom: 8px;
  right: 16px;
  border-radius: 6px;
  cursor: pointer;
  padding: 13px 18px;
  background-color: rgba(90, 92, 105, 0.5);
  display: none;
}
.scroll-top:hover {
  background-color: #5a5c69;
}
.scroll-top.show {
  display: inline-block;
  animation: show-btn 0.3s ease-out forwards;
}

@keyframes show-btn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wrapper > .main {
  background-color: #f8f9fc;
}
.wrapper > .main .cards .card span.number {
  font-size: 20px;
  color: #5a5c69;
}

.illustrations a {
  color: #4e73df;
}
.illustrations a:hover {
  color: #224aeb;
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
