:root {
  --gray-10: #f8f9fc;
  --gray-20: #eaecf4;
  --gray-30: #dddfeb;
  --gray-40: #d1d3e2;
  --gray-50: #b7b9cc;
  --gray-60: #858796;
  --gray-70: #6e707e;
  --gray-80: #5a5c69;
  --gray-90: #3a3b45;
  --gradient-primary: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
  --gradient-secondary: linear-gradient(180deg,#858796 10%,#60616f 100%);
  --gradient-success: linear-gradient(180deg,#1cc88a 10%,#13855c 100%);
  --gradient-info: linear-gradient(180deg,#36b9cc 10%,#258391 100%);
  --gradient-warning: linear-gradient(180deg,#f6c23e 10%,#dda20a 100%);
  --gradient-danger: linear-gradient(180deg,#e74a3b 10%,#be2617 100%);
  --gradient-light: linear-gradient(180deg,#f8f9fc 10%,#c2cbe5 100%);
  --gradient-dark: linear-gradient(180deg,#5a5c69 10%,#373840 100%);
  --sb-primary-color: #4e73df;
  --sb-border-color: #e3e6f0;
  --code-color: #e83e8c;
  --info-color: #858796;
}

body {
  font-family: "Nunito", sans-serif;
}

img,
video,
canvas {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
select,
option,
textarea,
button {
  border: none;
  outline: none;
}

.btn-icon-split .icon,
.btn-icon-split .text {
  height: 36px;
  padding: 0 12px;
}
.btn-icon-split .icon {
  background-color: rgba(0, 0, 0, 0.12);
}
.btn-icon-split.btn-sm .icon,
.btn-icon-split.btn-sm .text {
  height: 30px;
  padding: 0 8px;
}
.btn-icon-split.btn-lg .icon,
.btn-icon-split.btn-lg .text {
  height: 46px;
  padding: 0 14px;
}

.btn-google {
  background-color: #ea4335 !important;
  border-color: #ea4335 !important;
}
.btn-google:hover {
  background-color: #e12717 !important;
  border-color: #e12717 !important;
}

.btn-facebook {
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
}
.btn-facebook:hover {
  background-color: #30497c !important;
  border-color: #30497c !important;
}

.card-sb,
.card-sb .card-header {
  border-color: var(--sb-border-color) !important;
}
.card-sb .card-header {
  background-color: #f8f9fc;
}
.card-sb .info {
  color: var(--info-color);
}

.bg-gradient-primary {
  background-image: var(--gradient-primary);
}

.bg-gradient-secondary {
  background-image: var(--gradient-secondary);
}

.bg-gradient-success {
  background-image: var(--gradient-success);
}

.bg-gradient-info {
  background-image: var(--gradient-info);
}

.bg-gradient-warning {
  background-image: var(--gradient-warning);
}

.bg-gradient-danger {
  background-image: var(--gradient-danger);
}

.bg-gradient-light {
  background-image: var(--gradient-light);
}

.bg-gradient-dark {
  background-image: var(--gradient-dark);
}

.circle {
  --circle-dimension: 40px;
  width: var(--circle-dimension);
  height: var(--circle-dimension);
  border-radius: 50%;
}

.circle-10 {
  --circle-dimension: 10px;
}

.circle-20 {
  --circle-dimension: 20px;
}

.circle-30 {
  --circle-dimension: 30px;
}

.circle-40 {
  --circle-dimension: 40px;
}

.circle-50 {
  --circle-dimension: 50px;
}

.circle-60 {
  --circle-dimension: 60px;
}

.circle-70 {
  --circle-dimension: 70px;
}

.circle-80 {
  --circle-dimension: 80px;
}

.circle-90 {
  --circle-dimension: 90px;
}

a.sb-link {
  color: #4e73df;
}
a.sb-link:hover {
  color: #224aeb;
  text-decoration: underline;
}

.bg-primary-sb,
.text-bg-primary-sb,
.btn-primary-sb {
  background-color: var(--sb-primary-color);
}

.text-bg-primary-sb {
  color: #fff;
}

.btn-primary-sb,
.border-primary-sb {
  border-color: var(--sb-primary-color) !important;
}

.text-primary-sb {
  color: var(--sb-primary-color);
}

.dropdown.grow .dropdown-menu.show {
  animation: grow 0.2s ease-in-out forwards;
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.shadow-sb {
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.12);
}

.text-gray-10 {
  color: var(--gray-10);
}

.bg-gray-10 {
  background-color: var(--gray-10);
}

.text-gray-20 {
  color: var(--gray-20);
}

.bg-gray-20 {
  background-color: var(--gray-20);
}

.text-gray-30 {
  color: var(--gray-30);
}

.bg-gray-30 {
  background-color: var(--gray-30);
}

.text-gray-40 {
  color: var(--gray-40);
}

.bg-gray-40 {
  background-color: var(--gray-40);
}

.text-gray-50 {
  color: var(--gray-50);
}

.bg-gray-50 {
  background-color: var(--gray-50);
}

.text-gray-60 {
  color: var(--gray-60);
}

.bg-gray-60 {
  background-color: var(--gray-60);
}

.text-gray-70 {
  color: var(--gray-70);
}

.bg-gray-70 {
  background-color: var(--gray-70);
}

.text-gray-80 {
  color: var(--gray-80);
}

.bg-gray-80 {
  background-color: var(--gray-80);
}

.text-gray-90 {
  color: var(--gray-90);
}

.bg-gray-90 {
  background-color: var(--gray-90);
}

.fs-xsm {
  font-size: 11.2px;
}

.fs-sm {
  font-size: 12.8px;
}

.fs-md {
  font-size: 13.6px;
}

.fs-lg {
  font-size: 19.2px;
}

.wrapper > .nav {
  width: 224px;
  min-height: 100vh;
}
.wrapper > .nav.closed {
  width: auto;
  text-align: center;
  padding: 0.5rem !important;
}
@media (max-width: 767px) {
  .wrapper > .nav.hidden {
    display: none;
  }
}
.wrapper > .nav .logo i {
  transform: rotate(-20deg);
}
.wrapper > .nav.closed .logo {
  padding: 14px 0;
}
.wrapper > .nav.closed .logo h1 {
  display: none;
}
.wrapper > .nav.closed .logo i {
  margin: 0 !important;
  font-size: 32px;
}
.wrapper > .nav .divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}
.wrapper > .nav li.item a.link {
  color: rgba(255, 255, 255, 0.8);
}
.wrapper > .nav li.item a.link i {
  color: rgba(255, 255, 255, 0.3);
}
.wrapper > .nav li.item a.link:hover, .wrapper > .nav li.item a.link:hover i, .wrapper > .nav li.item a.link.active, .wrapper > .nav li.item a.link.active i {
  color: #fff;
}
.wrapper > .nav li.item a.link.menu-opener::after {
  display: none;
}
.wrapper > .nav li.item a.link.menu-opener i.arrow {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.wrapper > .nav li.item a.link.menu-opener:not(.collapsed) i.arrow {
  transform: rotate(90deg);
}
.wrapper > .nav li.item .nested-menu {
  background-color: white;
  border: none;
  transition: 0.1s;
}
.wrapper > .nav li.item .nested-menu .menu-title {
  font-size: 10.4px;
  color: var(--gray-50);
  text-transform: uppercase;
}
.wrapper > .nav li.item .nested-menu .menu-link {
  color: #3a3b45;
}
.wrapper > .nav li.item .nested-menu .menu-link:hover {
  background-color: #eaecf4;
}
.wrapper > .nav.closed li.item {
  position: relative;
}
.wrapper > .nav.closed li.item.menu i.arrow {
  display: none;
}
.wrapper > .nav.closed li.item.menu .nested-menu {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  position: absolute;
  left: calc(100% + 20px) !important;
  top: 0;
  height: auto !important;
  transform: scale(0);
  text-align: start;
  min-width: 174px;
  z-index: 99;
}
.wrapper > .nav.closed li.item.menu .nested-menu.show {
  animation: scale-menu 0.1s ease-out forwards;
}
.wrapper > .nav.closed li.item .link {
  justify-content: center !important;
}
.wrapper > .nav.closed li.item .link span {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.wrapper > .nav.closed li.item .link i {
  margin: 0 !important;
  margin-bottom: 5px !important;
  font-size: 15.6px;
}
.wrapper > .nav.closed li.item .link {
  font-size: 11px;
}
.wrapper > .nav .sub-heading {
  font-size: 10px;
}
.wrapper > .nav .nav-desktop-toggler button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
.wrapper > .nav .nav-desktop-toggler button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.wrapper > .nav .nav-desktop-toggler button i {
  font-size: 14px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
}
.wrapper > .nav.closed .nav-desktop-toggler i {
  transform: rotate(-180deg);
}
.wrapper > .nav .upgrade {
  background-color: rgba(0, 0, 0, 0.1);
}
.wrapper > .nav .upgrade .rocket {
  width: 60px;
}
.wrapper > .nav .upgrade p.text {
  font-size: 12px;
}
.wrapper > .nav .upgrade a.upgrade-btn {
  --bs-btn-bg: #1cc788;
}
.wrapper > .nav .upgrade a.upgrade-btn:hover {
  background-color: #17a673;
}
.wrapper > .nav.closed .upgrade {
  padding: 1rem 0 !important;
  max-width: 80px;
}

@-webkit-keyframes scale-menu {
  to {
    transform: scale(1);
  }
}
@keyframes scale-menu {
  to {
    transform: scale(1);
  }
}
.wrapper {
  max-width: 100vw;
}
.wrapper header {
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.16);
}
.wrapper header .nav-mobile-toggler > button {
  --bs-btn-focus-box-shadow: 0 0 0 0.18rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.3);
}
.wrapper header .nav-mobile-toggler > button:hover {
  background-color: #eaecf4 !important;
}
.wrapper header .nav-mobile-toggler > button:active {
  background-color: #dddfeb !important;
}
@media (min-width: 576px) {
  .wrapper header form {
    max-width: 400px;
  }
}
.wrapper header .dropdown {
  position: static;
  height: 70px;
  display: flex;
  align-items: center;
}
@media (min-width: 576px) {
  .wrapper header .dropdown {
    position: relative;
  }
}
.wrapper header .dropdown .dropdown-menu {
  top: calc(100% + 2px) !important;
  transform: none !important;
  width: calc(100% - 20px);
  left: 10px !important;
}
@media (min-width: 576px) {
  .wrapper header .dropdown .dropdown-menu {
    width: 300px;
    left: auto !important;
  }
}
.wrapper header .dropdown.notification button,
.wrapper header .dropdown.search button {
  color: #d1d3e2;
}
.wrapper header .dropdown.notification button:hover,
.wrapper header .dropdown.search button:hover {
  color: var(--gray-50);
}
.wrapper header .dropdown.notification .dropdown-menu,
.wrapper header .dropdown.search .dropdown-menu {
  border-radius: 7px;
  border-color: var(--sb-border-color);
}
.wrapper header .dropdown.notification .dropdown-menu .dropdown-header,
.wrapper header .dropdown.search .dropdown-menu .dropdown-header {
  font-size: 11px;
}
.wrapper header .dropdown.notification .dropdown-menu > a:hover,
.wrapper header .dropdown.search .dropdown-menu > a:hover {
  background-color: #eaecf4;
}
.wrapper header .dropdown.notification .dropdown-menu span.date,
.wrapper header .dropdown.search .dropdown-menu span.date {
  font-size: 12px;
}
.wrapper header .dropdown.notification .dropdown-menu p.title,
.wrapper header .dropdown.search .dropdown-menu p.title {
  font-size: 13.6px;
  color: #3a3b45;
}
.wrapper header .dropdown.notification .dropdown-menu .dropdown-foot,
.wrapper header .dropdown.search .dropdown-menu .dropdown-foot {
  font-size: 12px;
}
.wrapper header .dropdown.notification .dropdown-menu .dropdown-foot:hover,
.wrapper header .dropdown.search .dropdown-menu .dropdown-foot:hover {
  color: var(--gray-50);
}
.wrapper header .profile {
  min-width: 42px;
}
.wrapper header .profile .name {
  margin-right: 8px;
}
.wrapper header .profile .avatar {
  width: 30px;
}
.wrapper header .profile .dropdown-menu,
.wrapper header .profile .dropdown-menu .dropdown-divider {
  border-color: #eaecf4;
}
.wrapper header .profile .dropdown-menu a {
  color: #3a3b45;
}
.wrapper header .profile .dropdown-menu i {
  width: 20px;
  color: #d1d3e2;
}

.scroll-top {
  position: fixed;
  bottom: 8px;
  right: 16px;
  border-radius: 6px;
  cursor: pointer;
  padding: 13px 18px;
  background-color: rgba(90, 92, 105, 0.5);
  display: none;
}
.scroll-top:hover {
  background-color: #5a5c69;
}
.scroll-top.show {
  display: inline-block;
  animation: show-btn 0.3s ease-out forwards;
}

@-webkit-keyframes show-btn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show-btn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.code {
  color: var(--code-color);
}

span.code {
  font-size: 0.875em;
  font-family: var(--bs-font-monospace);
}

.wrapper > .main {
  background-color: #f8f9fc;
}
.wrapper > .main .cards .card span.number {
  font-size: 20px;
  color: #5a5c69;
}

/*# sourceMappingURL=styles.css.map */
