extends ../../layout
block pageTitle
  | Bootstrap Dahsboard | Data Tables
block paths
  -
    let home = '../';
    let buttons= '../buttons/';
    let cards= '../cards/';
    let colors = '../colors/';
    let borders = '../borders/';
    let animations = '../animations/';
    let others = '../others/';
    let login = '../login/';
    let register = '../register/';
    let forgot_password = '../forgot_password/';
    let error_page = '../error/';
    let blank = '../blank/';
    let charts = '../charts/';
    let tables = '#';
    let imgs = '../imgs/';
    let js = '../js/';
    let css = '../css/';

append vars
  - const active = 'tables';

append styles
  link(rel='stylesheet', href='../css/pages/tables.css')

append scripts
  script(src='../js/data-tables.js')

block content
  .mb-4
    +primary-heading('Tables')
    p.text-gray-60 
      | DataTables is a third party plugin that is used to generate the demo table below.
      | For more information about DataTables, please visit the 
      | #[a.sb-link(hreg='https://datatables.net/') official DataTables documentation].
    .card.card-sb.w-100.shadow-sb
      .card-header.py-3
        h6.fw-bold.text-primary-sb.m-0.card-title DataTables Example
      .card-body.w-100
        .d-flex.flex-column.flex-md-row.justify-content-between.align-items-center.mb-3
          .table-entries.text-gray-60.mb-3.mb-md-0
            | Show
            select.form-select.d-inline-block.w-auto.mx-2
              option(value='10') 10
              option(value='25') 25
              option(value='50') 50
              option(value='100') 100
            | entries
          .table-search
            label.text-gray-60.me-2 Search:
            input.form-control.d-inline-block.w-auto
        .overflow-auto
          table.table.table-bordered#data-table
            thead.align-top
              tr
                th.text-gray-70.p-3 Name
                th.text-gray-70.p-3 Position
                th.text-gray-70.p-3 Office
                th.text-gray-70.p-3 Age
                th.text-gray-70.p-3 Start date
                th.text-gray-70.p-3 Salary
              
            tbody
              tr
                td.text-gray-60.p-2 Tiger Nixon
                td.text-gray-60.p-2 System Architect
                td.text-gray-60.p-2 Edinburgh
                td.text-gray-60.p-2 61
                td.text-gray-60.p-2 2011/04/25
                td.text-gray-60.p-2 $320,800
              
              tr
                td.text-gray-60.p-2 Garrett Winters
                td.text-gray-60.p-2 Accountant
                td.text-gray-60.p-2 Tokyo
                td.text-gray-60.p-2 63
                td.text-gray-60.p-2 2011/07/25
                td.text-gray-60.p-2 $170,750
              
              tr
                td.text-gray-60.p-2 Ashton Cox
                td.text-gray-60.p-2 Junior Technical Author
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 66
                td.text-gray-60.p-2 2009/01/12
                td.text-gray-60.p-2 $86,000
              
              tr
                td.text-gray-60.p-2 Cedric Kelly
                td.text-gray-60.p-2 Senior Javascript Developer
                td.text-gray-60.p-2 Edinburgh
                td.text-gray-60.p-2 22
                td.text-gray-60.p-2 2012/03/29
                td.text-gray-60.p-2 $433,060
              
              tr
                td.text-gray-60.p-2 Airi Satou
                td.text-gray-60.p-2 Accountant
                td.text-gray-60.p-2 Tokyo
                td.text-gray-60.p-2 33
                td.text-gray-60.p-2 2008/11/28
                td.text-gray-60.p-2 $162,700
              
              tr
                td.text-gray-60.p-2 Brielle Williamson
                td.text-gray-60.p-2 Integration Specialist
                td.text-gray-60.p-2 New York
                td.text-gray-60.p-2 61
                td.text-gray-60.p-2 2012/12/02
                td.text-gray-60.p-2 $372,000
              
              tr
                td.text-gray-60.p-2 Herrod Chandler
                td.text-gray-60.p-2 Sales Assistant
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 59
                td.text-gray-60.p-2 2012/08/06
                td.text-gray-60.p-2 $137,500
              
              tr
                td.text-gray-60.p-2 Rhona Davidson
                td.text-gray-60.p-2 Integration Specialist
                td.text-gray-60.p-2 Tokyo
                td.text-gray-60.p-2 55
                td.text-gray-60.p-2 2010/10/14
                td.text-gray-60.p-2 $327,900
              
              tr
                td.text-gray-60.p-2 Colleen Hurst
                td.text-gray-60.p-2 Javascript Developer
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 39
                td.text-gray-60.p-2 2009/09/15
                td.text-gray-60.p-2 $205,500
              
              tr
                td.text-gray-60.p-2 Sonya Frost
                td.text-gray-60.p-2 Software Engineer
                td.text-gray-60.p-2 Edinburgh
                td.text-gray-60.p-2 23
                td.text-gray-60.p-2 2008/12/13
                td.text-gray-60.p-2 $103,600
              
              tr
                td.text-gray-60.p-2 Jena Gaines
                td.text-gray-60.p-2 Office Manager
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 30
                td.text-gray-60.p-2 2008/12/19
                td.text-gray-60.p-2 $90,560
              
              tr
                td.text-gray-60.p-2 Quinn Flynn
                td.text-gray-60.p-2 Support Lead
                td.text-gray-60.p-2 Edinburgh
                td.text-gray-60.p-2 22
                td.text-gray-60.p-2 2013/03/03
                td.text-gray-60.p-2 $342,000
              
              tr
                td.text-gray-60.p-2 Charde Marshall
                td.text-gray-60.p-2 Regional Director
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 36
                td.text-gray-60.p-2 2008/10/16
                td.text-gray-60.p-2 $470,600
              
              tr
                td.text-gray-60.p-2 Haley Kennedy
                td.text-gray-60.p-2 Senior Marketing Designer
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 43
                td.text-gray-60.p-2 2012/12/18
                td.text-gray-60.p-2 $313,500
              
              tr
                td.text-gray-60.p-2 Tatyana Fitzpatrick
                td.text-gray-60.p-2 Regional Director
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 19
                td.text-gray-60.p-2 2010/03/17
                td.text-gray-60.p-2 $385,750
              
              tr
                td.text-gray-60.p-2 Michael Silva
                td.text-gray-60.p-2 Marketing Designer
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 66
                td.text-gray-60.p-2 2012/11/27
                td.text-gray-60.p-2 $198,500
              
              tr
                td.text-gray-60.p-2 Paul Byrd
                td.text-gray-60.p-2 Chief Financial Officer (CFO)
                td.text-gray-60.p-2 New York
                td.text-gray-60.p-2 64
                td.text-gray-60.p-2 2010/06/09
                td.text-gray-60.p-2 $725,000
              
              tr
                td.text-gray-60.p-2 Gloria Little
                td.text-gray-60.p-2 Systems Administrator
                td.text-gray-60.p-2 New York
                td.text-gray-60.p-2 59
                td.text-gray-60.p-2 2009/04/10
                td.text-gray-60.p-2 $237,500
              
              tr
                td.text-gray-60.p-2 Bradley Greer
                td.text-gray-60.p-2 Software Engineer
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 41
                td.text-gray-60.p-2 2012/10/13
                td.text-gray-60.p-2 $132,000
              
              tr
                td.text-gray-60.p-2 Dai Rios
                td.text-gray-60.p-2 Personnel Lead
                td.text-gray-60.p-2 Edinburgh
                td.text-gray-60.p-2 35
                td.text-gray-60.p-2 2012/09/26
                td.text-gray-60.p-2 $217,500
              
              tr
                td.text-gray-60.p-2 Jenette Caldwell
                td.text-gray-60.p-2 Development Lead
                td.text-gray-60.p-2 New York
                td.text-gray-60.p-2 30
                td.text-gray-60.p-2 2011/09/03
                td.text-gray-60.p-2 $345,000
              
              tr
                td.text-gray-60.p-2 Yuri Berry
                td.text-gray-60.p-2 Chief Marketing Officer (CMO)
                td.text-gray-60.p-2 New York
                td.text-gray-60.p-2 40
                td.text-gray-60.p-2 2009/06/25
                td.text-gray-60.p-2 $675,000
              
              tr
                td.text-gray-60.p-2 Caesar Vance
                td.text-gray-60.p-2 Pre-Sales Support
                td.text-gray-60.p-2 New York
                td.text-gray-60.p-2 21
                td.text-gray-60.p-2 2011/12/12
                td.text-gray-60.p-2 $106,450
              
              tr
                td.text-gray-60.p-2 Doris Wilder
                td.text-gray-60.p-2 Sales Assistant
                td.text-gray-60.p-2 Sidney
                td.text-gray-60.p-2 23
                td.text-gray-60.p-2 2010/09/20
                td.text-gray-60.p-2 $85,600
              
              tr
                td.text-gray-60.p-2 Angelica Ramos
                td.text-gray-60.p-2 Chief Executive Officer (CEO)
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 47
                td.text-gray-60.p-2 2009/10/09
                td.text-gray-60.p-2 $1,200,000
              
              tr
                td.text-gray-60.p-2 Gavin Joyce
                td.text-gray-60.p-2 Developer
                td.text-gray-60.p-2 Edinburgh
                td.text-gray-60.p-2 42
                td.text-gray-60.p-2 2010/12/22
                td.text-gray-60.p-2 $92,575
              
              tr
                td.text-gray-60.p-2 Jennifer Chang
                td.text-gray-60.p-2 Regional Director
                td.text-gray-60.p-2 Singapore
                td.text-gray-60.p-2 28
                td.text-gray-60.p-2 2010/11/14
                td.text-gray-60.p-2 $357,650
              
              tr
                td.text-gray-60.p-2 Brenden Wagner
                td.text-gray-60.p-2 Software Engineer
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 28
                td.text-gray-60.p-2 2011/06/07
                td.text-gray-60.p-2 $206,850
              
              tr
                td.text-gray-60.p-2 Fiona Green
                td.text-gray-60.p-2 Chief Operating Officer (COO)
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 48
                td.text-gray-60.p-2 2010/03/11
                td.text-gray-60.p-2 $850,000
              
              tr
                td.text-gray-60.p-2 Shou Itou
                td.text-gray-60.p-2 Regional Marketing
                td.text-gray-60.p-2 Tokyo
                td.text-gray-60.p-2 20
                td.text-gray-60.p-2 2011/08/14
                td.text-gray-60.p-2 $163,000
              
              tr
                td.text-gray-60.p-2 Michelle House
                td.text-gray-60.p-2 Integration Specialist
                td.text-gray-60.p-2 Sidney
                td.text-gray-60.p-2 37
                td.text-gray-60.p-2 2011/06/02
                td.text-gray-60.p-2 $95,400
              
              tr
                td.text-gray-60.p-2 Suki Burks
                td.text-gray-60.p-2 Developer
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 53
                td.text-gray-60.p-2 2009/10/22
                td.text-gray-60.p-2 $114,500
              
              tr
                td.text-gray-60.p-2 Prescott Bartlett
                td.text-gray-60.p-2 Technical Author
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 27
                td.text-gray-60.p-2 2011/05/07
                td.text-gray-60.p-2 $145,000
              
              tr
                td.text-gray-60.p-2 Gavin Cortez
                td.text-gray-60.p-2 Team Leader
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 22
                td.text-gray-60.p-2 2008/10/26
                td.text-gray-60.p-2 $235,500
              
              tr
                td.text-gray-60.p-2 Martena Mccray
                td.text-gray-60.p-2 Post-Sales support
                td.text-gray-60.p-2 Edinburgh
                td.text-gray-60.p-2 46
                td.text-gray-60.p-2 2011/03/09
                td.text-gray-60.p-2 $324,050
              
              tr
                td.text-gray-60.p-2 Unity Butler
                td.text-gray-60.p-2 Marketing Designer
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 47
                td.text-gray-60.p-2 2009/12/09
                td.text-gray-60.p-2 $85,675
              
              tr
                td.text-gray-60.p-2 Howard Hatfield
                td.text-gray-60.p-2 Office Manager
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 51
                td.text-gray-60.p-2 2008/12/16
                td.text-gray-60.p-2 $164,500
              
              tr
                td.text-gray-60.p-2 Hope Fuentes
                td.text-gray-60.p-2 Secretary
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 41
                td.text-gray-60.p-2 2010/02/12
                td.text-gray-60.p-2 $109,850
              
              tr
                td.text-gray-60.p-2 Vivian Harrell
                td.text-gray-60.p-2 Financial Controller
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 62
                td.text-gray-60.p-2 2009/02/14
                td.text-gray-60.p-2 $452,500
              
              tr
                td.text-gray-60.p-2 Timothy Mooney
                td.text-gray-60.p-2 Office Manager
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 37
                td.text-gray-60.p-2 2008/12/11
                td.text-gray-60.p-2 $136,200
              
              tr
                td.text-gray-60.p-2 Jackson Bradshaw
                td.text-gray-60.p-2 Director
                td.text-gray-60.p-2 New York
                td.text-gray-60.p-2 65
                td.text-gray-60.p-2 2008/09/26
                td.text-gray-60.p-2 $645,750
              
              tr
                td.text-gray-60.p-2 Olivia Liang
                td.text-gray-60.p-2 Support Engineer
                td.text-gray-60.p-2 Singapore
                td.text-gray-60.p-2 64
                td.text-gray-60.p-2 2011/02/03
                td.text-gray-60.p-2 $234,500
              
              tr
                td.text-gray-60.p-2 Bruno Nash
                td.text-gray-60.p-2 Software Engineer
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 38
                td.text-gray-60.p-2 2011/05/03
                td.text-gray-60.p-2 $163,500
              
              tr
                td.text-gray-60.p-2 Sakura Yamamoto
                td.text-gray-60.p-2 Support Engineer
                td.text-gray-60.p-2 Tokyo
                td.text-gray-60.p-2 37
                td.text-gray-60.p-2 2009/08/19
                td.text-gray-60.p-2 $139,575
              
              tr
                td.text-gray-60.p-2 Thor Walton
                td.text-gray-60.p-2 Developer
                td.text-gray-60.p-2 New York
                td.text-gray-60.p-2 61
                td.text-gray-60.p-2 2013/08/11
                td.text-gray-60.p-2 $98,540
              
              tr
                td.text-gray-60.p-2 Finn Camacho
                td.text-gray-60.p-2 Support Engineer
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 47
                td.text-gray-60.p-2 2009/07/07
                td.text-gray-60.p-2 $87,500
              
              tr
                td.text-gray-60.p-2 Serge Baldwin
                td.text-gray-60.p-2 Data Coordinator
                td.text-gray-60.p-2 Singapore
                td.text-gray-60.p-2 64
                td.text-gray-60.p-2 2012/04/09
                td.text-gray-60.p-2 $138,575
              
              tr
                td.text-gray-60.p-2 Zenaida Frank
                td.text-gray-60.p-2 Software Engineer
                td.text-gray-60.p-2 New York
                td.text-gray-60.p-2 63
                td.text-gray-60.p-2 2010/01/04
                td.text-gray-60.p-2 $125,250
              
              tr
                td.text-gray-60.p-2 Zorita Serrano
                td.text-gray-60.p-2 Software Engineer
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 56
                td.text-gray-60.p-2 2012/06/01
                td.text-gray-60.p-2 $115,000
              
              tr
                td.text-gray-60.p-2 Jennifer Acosta
                td.text-gray-60.p-2 Junior Javascript Developer
                td.text-gray-60.p-2 Edinburgh
                td.text-gray-60.p-2 43
                td.text-gray-60.p-2 2013/02/01
                td.text-gray-60.p-2 $75,650
              
              tr
                td.text-gray-60.p-2 Cara Stevens
                td.text-gray-60.p-2 Sales Assistant
                td.text-gray-60.p-2 New York
                td.text-gray-60.p-2 46
                td.text-gray-60.p-2 2011/12/06
                td.text-gray-60.p-2 $145,600
              
              tr
                td.text-gray-60.p-2 Hermione Butler
                td.text-gray-60.p-2 Regional Director
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 47
                td.text-gray-60.p-2 2011/03/21
                td.text-gray-60.p-2 $356,250
              
              tr
                td.text-gray-60.p-2 Lael Greer
                td.text-gray-60.p-2 Systems Administrator
                td.text-gray-60.p-2 London
                td.text-gray-60.p-2 21
                td.text-gray-60.p-2 2009/02/27
                td.text-gray-60.p-2 $103,500
              
              tr
                td.text-gray-60.p-2 Jonas Alexander
                td.text-gray-60.p-2 Developer
                td.text-gray-60.p-2 San Francisco
                td.text-gray-60.p-2 30
                td.text-gray-60.p-2 2010/07/14
                td.text-gray-60.p-2 $86,500
              
              tr
                td.text-gray-60.p-2 Shad Decker
                td.text-gray-60.p-2 Regional Director
                td.text-gray-60.p-2 Edinburgh
                td.text-gray-60.p-2 51
                td.text-gray-60.p-2 2008/11/13
                td.text-gray-60.p-2 $183,000
              
              tr
                td.text-gray-60.p-2 Michael Bruce
                td.text-gray-60.p-2 Javascript Developer
                td.text-gray-60.p-2 Singapore
                td.text-gray-60.p-2 29
                td.text-gray-60.p-2 2011/06/27
                td.text-gray-60.p-2 $183,000
              
              tr
                td.text-gray-60.p-2 Donna Snider
                td.text-gray-60.p-2 Customer Support
                td.text-gray-60.p-2 New York
                td.text-gray-60.p-2 27
                td.text-gray-60.p-2 2011/01/25
                td.text-gray-60.p-2 $112,000

        .d-flex.flex-column.flex-md-row.justify-content-between.align-items-center.mt-3
          p.status.text-gray-60.mb-3.mb-md-0 Showing #[span.start-entry 1] to #[span.end-entry 10] of #[span.entries-length 57] entries
          ul.pagination.pagination-sm.table-pagination
            li.page-item.previous
              button.page-link.disabled Previos
            li.page-item.index.page-1(data-index='0')
              button.page-link.active 1
            li.page-item.index.page-2(data-index='1')
              button.page-link 2
            li.page-item.index.page-3(data-index='2')
              button.page-link 3
            li.page-item.index.page-4(data-index='3')
              button.page-link 4
            li.page-item.index.page-5(data-index='4')
              button.page-link 5
            li.page-item.index.page-6(data-index='5')
              button.page-link 6
            li.page-item.next
              button.page-link Next