//- include bootstrap
link(
  rel="stylesheet",
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
)

//- include google fonts
link(
  rel="stylesheet",
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
)

//- include fontawesome
link(rel="stylesheet", href='./css/all.min.css')

//- include my styles
link(rel="stylesheet", href="./css/styles.css")