extends ../../layout
block pageTitle
  | Bootstrap Dahsboard | Blank Page
block paths
  -
    let home = '../';
    let buttons= '../buttons/';
    let cards= '../cards/';
    let colors = '../colors/';
    let borders = '../borders/';
    let animations = '../animations/';
    let others = '../others/';
    let login = '../login/';
    let register = '../register/';
    let forgot_password = '../forgot_password/';
    let error_page = '../error/';
    let blank = '#/';
    let charts = '../charts/';
    let tables = '../tables/';
    let imgs = '../imgs/';
    let js = '../js/';
    let css = '../css/';

append vars
  - 
    parentActive = 'pages';
    childActive = 'blank';
    
block content
  .mb-4
    +primary-heading('Blank Page')