extends ../../layout
block pageTitle
  | Bootstrap Dahsboard | Buttons
block paths
  -
    let home = '../';
    let buttons= '../buttons/';
    let cards= '../cards/';
    let colors = '../colors/';
    let borders = '#';
    let animations = '../animations/';
    let others = '../others/';
    let login = '../login/';
    let rigister = '../rigister/';
    let forgot_password = '../forgot_password/';
    let error_page = '../error/';
    let blank = '../blank/';
    let charts = '../charts/';
    let tables = '../tables/';
    let imgs = '../imgs/';
    let js = '../js/';
    let css = '../css/';

append vars
  - 
    parentActive = 'utilities';
    childActive = 'borders';
    
block content
  .mb-4
    +primary-heading('Border Utilities')
    p.text-gray-60.mt-2
      | Bootstrap's default utility classes can be found on the official 
      | #[a.sb-link(href='https://getbootstrap.com/docs') Bootstrap Documentation] page.
      | The custom utilities below were created to extend this theme past the default utility classes built into Bootstrap's framework.

  .row.g-4
    .col-lg-6
      .card.card-sb.py-4.mb-4(style='border-left: 4px solid #4e73df !important')
        .card-body.text-gray-60 .border-left-primary
        
      .card.card-sb.py-4.mb-4(style='border-left: 4px solid #858796 !important')
        .card-body.text-gray-60 .border-left-secondary

      .card.card-sb.py-4.mb-4(style='border-left: 4px solid #1cc88a !important')
        .card-body.text-gray-60 .border-left-success

      .card.card-sb.py-4.mb-4(style='border-left: 4px solid #36b9cc !important')
        .card-body.text-gray-60 .border-left-info

      .card.card-sb.py-4.mb-4(style='border-left: 4px solid #f6c23e !important')
        .card-body.text-gray-60 .border-left-warning

      .card.card-sb.py-4.mb-4(style='border-left: 4px solid #e74a3b !important')
        .card-body.text-gray-60 .border-left-danger

      .card.card-sb.py-4.mb-4(style='border-left: 4px solid #5a5c69 !important')
        .card-body.text-gray-60 .border-left-dark
    
    .col-lg-6
      .card.card-sb.py-4.mb-4(style='border-bottom: 4px solid #4e73df !important')
        .card-body.text-gray-60 .border-bottom-primary
        
      .card.card-sb.py-4.mb-4(style='border-bottom: 4px solid #858796 !important')
        .card-body.text-gray-60 .border-bottom-secondary

      .card.card-sb.py-4.mb-4(style='border-bottom: 4px solid #1cc88a !important')
        .card-body.text-gray-60 .border-bottom-success

      .card.card-sb.py-4.mb-4(style='border-bottom: 4px solid #36b9cc !important')
        .card-body.text-gray-60 .border-bottom-info

      .card.card-sb.py-4.mb-4(style='border-bottom: 4px solid #f6c23e !important')
        .card-body.text-gray-60 .border-bottom-warning

      .card.card-sb.py-4.mb-4(style='border-bottom: 4px solid #e74a3b !important')
        .card-body.text-gray-60 .border-bottom-danger

      .card.card-sb.py-4.mb-4(style='border-bottom: 4px solid #5a5c69 !important')
        .card-body.text-gray-60 .border-bottom-dark

        