img.dog {
  height: 0;
  width: 100%;
  min-height: 100%!important;
  object-fit: cover;
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
}
form {
  .input-pad {
    padding: 12px 16px !important;
  }
  .input-font {
    color: var(--gray-70) !important;
  }
  .input-font, ::placeholder {
    font-size: 12.8px !important;
  }
  ::placeholder {
    color: var(--gray-60) !important;
  }
}