extends ../../layout
block pageTitle
  | Bootstrap Dahsboard | Buttons
block paths
  -
    let home = '../';
    let buttons= '../buttons/';
    let cards= '../cards/';
    let colors = '../colors/';
    let borders = '../borders/';
    let animations = '#';
    let others = '../others/';
    let login = '../login/';
    let register = '../register/';
    let forgot_password = '../forgot_password/';
    let error_page = '../error/';
    let blank = '../blank/';
    let charts = '../charts/';
    let tables = '../tables/';
    let imgs = '../imgs/';
    let js = '../js/';
    let css = '../css/';

append vars
  - 
    parentActive = 'utilities';
    childActive = 'animations';
block content
  .mb-3
    +primary-heading('Animation Utilities')
    p.text-gray-60 Bootstrap's default utility classes can be found on the official #[a.sb-link(href='https://getbootstrap.com/docs') Bootstrap Documentation] page.
      | The custom utilities below were created to extend this theme past the default utility classes built into Bootstrap's framework.
  .row.g-4
    .col-lg-6
      .card.card-sb.w-100
        .card-header.py-3
          h6.fw-bold.text-primary-sb.m-0.card-title Grow In Animation Utilty
        .card-body.p-3
          pre.code .dropdown.grow
          p.text-gray-60.fs-sm Navbar Dropdown Example:
          .navbar.bg-light.navbar-expand.mb-4
            .container-fluid
              a.navbar-brand.me-auto(href='#') Navbar
              ul.navbar-nav
                li.nav-item.dropdown.grow
                  a.nav-link.dropdown-toggle( href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Dropdown
                  ul.dropdown-menu.dropdown-menu-end.sb-menu
                    li: a.dropdown-item(href='#') Action
                    li: a.dropdown-item(href='#') Another Action
                    hr.dropdown-divider
                    li: a.dropdown-item(href='#') Something else
          p.text-gray-60.fs-sm.m-0
            | Note: This utility animates the CSS transform property, meaning it will override any existing transforms
            | on an element being animated! In this theme,
            | the grow in animation is only being used on dropdowns within the navbar.

    .col-lg-6
      .card.card-sb.w-100
        .card-header.py-3
          h6.fw-bold.text-primary-sb.m-0.card-title Fade In Animation Utilty
        .card-body.p-3
          pre.code .dropdown.fade-in
          p.text-gray-60.fs-sm Navbar Dropdown Example:
          .navbar.bg-light.navbar-expand.mb-4
            .container-fluid
              a.navbar-brand.me-auto(href='#') Navbar
              ul.navbar-nav
                li.nav-item.dropdown.fade-in
                  a.nav-link.dropdown-toggle( href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Dropdown
                  ul.dropdown-menu.dropdown-menu-end.sb-menu
                    li: a.dropdown-item(href='#') Action
                    li: a.dropdown-item(href='#') Another Action
                    hr.dropdown-divider
                    li: a.dropdown-item(href='#') Something else
          p.text-gray-60.fs-sm Dropdown Button Example:
          .dropdown.fade-in.mb-4
            button.btn.btn-primary.dropdown-toggle(data-bs-toggle='dropdown') Dropdown
            ul.dropdown-menu.dropdown-menu-start.sb-menu
              li: a.dropdown-item(href='#') Action
              li: a.dropdown-item(href='#') Another Action
              hr.dropdown-divider
              li: a.dropdown-item(href='#') Something else
          p.text-gray-60.fs-sm.m-0
            | Note: This utility animates the CSS opacity property, meaning it will override any existing opacity
            | on an element being animated!

