@use "../helpers/globals" as *;
@use "../helpers/mixins" as *;
@use "../helpers/placeholders" as *;
// Bg colors
$gradient-colors: (
  'gradient-primary',
  'gradient-secondary',
  'gradient-success',
  'gradient-info',
  'gradient-warning',
  'gradient-danger',
  'gradient-light',
  'gradient-dark',
);
@each $color in $gradient-colors {
  .bg-#{$color} {
    background-image: var(--#{$color});
  }
}

// componenets
.circle {
  --circle-dimension: 40px;
  @include circle(var(--circle-dimension));
}
@for $i from 1 to 10 {
  $coordinate: $i * 10;
  .circle-#{$coordinate} {
    --circle-dimension: #{$coordinate}px;
  }
}

// links
a.sb-link {
  color: #4e73df;
  // text-decoration: none;
  &:hover {
    color: #224aeb;
    text-decoration: underline;
  }
}

// customize bootstrap classes as sb

.bg-primary-sb,
.text-bg-primary-sb,
.btn-primary-sb {
  background-color: var(--sb-primary-color);
}
.text-bg-primary-sb {
  color: #fff;
}
.btn-primary-sb,
.border-primary-sb {
  border-color: var(--sb-primary-color) !important;
}
.text-primary-sb {
  color: var(--sb-primary-color);
}

// grow dropdowns
.dropdown.grow {
  .dropdown-menu.show {
    animation: grow 0.2s ease-in-out forwards;
  }
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

// fade dropdowns
.dropdown.fade-in {
  .dropdown-menu.show {
    animation: fade-in 0.2s ease-in-out forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// create shadows

.shadow-sb {
  box-shadow: 0 0 23px 0 rgba(0 0 0 / 12%);
}

// customize dropdown-menu
.dropdown-menu.sb-menu {
  &,
  .dropdown-divider {
    border-color: #eaecf4;
  }
  a {
    color: #3a3b45;
  }
  .dropdown-item:active {
    &, a {
      color: #fff;
    }
  }
  i {
    width: 20px;
    color: #d1d3e2;
  }
}

// hide the dropdown arrow
.dropdown .dropdown-toggler.no-arrow::after {
  display: none;
}

.error {
  position: relative;
  @include text-style(7rem, null, var(--gray-80));
  &::before ,&::after {
    content: '404';
    position: absolute;
    top: 0;
  }
  &::before {
    left: -10px;
    animation: matrix-1 0.2s infinite;
    clip-path: inset(0px 300px 0px 0px);
  }
  &::after {
    right: -10px;
    animation: matrix-2 0.2s infinite;
    clip-path: inset(0px 0px 300px 0px);
  }
}

@include animation('matrix-1') {
  0% {
    clip-path: inset(0px 0px 300px 0px);
  }
  10% {
    clip-path: inset(10px 0px 50px 0px);
  }
  70% {
    clip-path: inset(50px 0px 10px 0px);
  }
  100% {
    clip-path: inset(300px 0px 0px 0px);
  }
}