@use "../helpers/globals" as *;
@use "../helpers/mixins" as *;
@use "../helpers/placeholders" as *;
// Bg colors
$gradient-colors: (
  "gradient-primary",
  "gradient-secondary",
  "gradient-success",
  "gradient-info",
  "gradient-warning",
  "gradient-danger",
  "gradient-light",
  "gradient-dark"
);
@each $color in $gradient-colors {
  .bg-#{$color} {
    background-image: var(--#{$color});
  }
}

// componenets
.circle {
  --circle-dimension: 40px;
  @include circle(var(--circle-dimension));
}
@for $i from 1 to 10 {
  $coordinate: $i * 10;
  .circle-#{$coordinate} {
    --circle-dimension: #{$coordinate}px;
  }
}

// links
a.sb-link {
  color: #4e73df;
  // text-decoration: none;
  &:hover {
    color: #224aeb;
    text-decoration: underline;
  }
}

// customize bootstrap classes as sb

.bg-primary-sb,
.text-bg-primary-sb,
.btn-primary-sb {
  background-color: var(--sb-primary-color);
}
.text-bg-primary-sb {
  color: #fff;
}
.btn-primary-sb,
.border-primary-sb {
  border-color: var(--sb-primary-color) !important;
}
.text-primary-sb {
  color: var(--sb-primary-color);
}

// grow dropdowns
.dropdown.grow {
  .dropdown-menu.show {
    animation: grow 0.2s ease-in-out forwards;
  }
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

// fade dropdowns
.dropdown.fade-in {
  .dropdown-menu.show {
    animation: fade-in 0.2s ease-in-out forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// create shadows

.shadow-sb {
  box-shadow: 0 0 23px 0 rgba(0 0 0 / 12%);
}

// customize dropdown-menu
.dropdown-menu.sb-menu {
  &,
  .dropdown-divider {
    border-color: #eaecf4;
  }
  a {
    color: #3a3b45;
  }
  .dropdown-item:active {
    &,
    a {
      color: #fff;
    }
  }
  i {
    width: 20px;
    color: #d1d3e2;
  }
}

// hide the dropdown arrow
.dropdown .dropdown-toggler.no-arrow::after {
  display: none;
}

.error {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  @include text-style(7rem, null, var(--gray-80));
  &::before,
  &::after {
    content: "404";
    position: absolute;
    top: 2px;
    overflow: hidden;
    color: #5a5c69;
    background: #f8f9fc;
    clip: rect(0, 900px, 0, 0);
  }
  &::before {
    left: 2px;
    animation: matrix-1 3s infinite alternate;
    text-shadow: -1px 0 #e74a3b;
  }
  &::after {
    left: -2px;
    text-shadow: 1px 0 #4e73df;
    animation: matrix-2 3s infinite alternate;
  }
}

@include animation("matrix-1") {
  0% {
    clip: rect(49px, 9999px, 40px, 0);
  }
  5% {
    clip: rect(75px, 9999px, 72px, 0);
  }
  10% {
    clip: rect(97px, 9999px, 93px, 0);
  }
  15% {
    clip: rect(15px, 9999px, 9px, 0);
  }
  20% {
    clip: rect(14px, 9999px, 92px, 0);
  }
  25% {
    clip: rect(18px, 9999px, 94px, 0);
  }
  30% {
    clip: rect(17px, 9999px, 20px, 0);
  }
  35% {
    clip: rect(71px, 9999px, 59px, 0);
  }
  40% {
    clip: rect(42px, 9999px, 84px, 0);
  }
  45% {
    clip: rect(56px, 9999px, 25px, 0);
  }
  50% {
    clip: rect(46px, 9999px, 14px, 0);
  }
  55% {
    clip: rect(47px, 9999px, 1px, 0);
  }
  60% {
    clip: rect(64px, 9999px, 58px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 92px, 0);
  }
  70% {
    clip: rect(56px, 9999px, 39px, 0);
  }
  75% {
    clip: rect(80px, 9999px, 71px, 0);
  }
  80% {
    clip: rect(8px, 9999px, 13px, 0);
  }
  85% {
    clip: rect(66px, 9999px, 68px, 0);
  }
  90% {
    clip: rect(68px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(56px, 9999px, 14px, 0);
  }
  100% {
    clip: rect(28px, 9999px, 53px, 0);
  }
}
@include animation("matrix-2") {
  0% {
    clip: rect(16px, 9999px, 10px, 0);
  }
  5% {
    clip: rect(22px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(6px, 9999px, 68px, 0);
  }
  15% {
    clip: rect(85px, 9999px, 95px, 0);
  }
  20% {
    clip: rect(65px, 9999px, 91px, 0);
  }
  25% {
    clip: rect(93px, 9999px, 68px, 0);
  }
  30% {
    clip: rect(10px, 9999px, 27px, 0);
  }
  35% {
    clip: rect(37px, 9999px, 25px, 0);
  }
  40% {
    clip: rect(12px, 9999px, 23px, 0);
  }
  45% {
    clip: rect(40px, 9999px, 18px, 0);
  }
  50% {
    clip: rect(19px, 9999px, 71px, 0);
  }
  55% {
    clip: rect(2px, 9999px, 35px, 0);
  }
  60% {
    clip: rect(16px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(8px, 9999px, 65px, 0);
  }
  70% {
    clip: rect(30px, 9999px, 57px, 0);
  }
  75% {
    clip: rect(14px, 9999px, 4px, 0);
  }
  80% {
    clip: rect(39px, 9999px, 30px, 0);
  }
  85% {
    clip: rect(22px, 9999px, 35px, 0);
  }
  90% {
    clip: rect(58px, 9999px, 71px, 0);
  }
  95% {
    clip: rect(34px, 9999px, 90px, 0);
  }
  100% {
    clip: rect(67px, 9999px, 68px, 0);
  }
}
